@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627466309591') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontcaidan:before {
  content: "\e60f";
}

.icon-zuojiantou:before {
  content: "\e629";
}

.icon-youjiantou:before {
  content: "\e62a";
}

.icon-fangdajing:before {
  content: "\e60b";
}

